{% comment %}
  HTML Marketing Component: Text
  Rich text content block
  
  Parameters:
  - text: {String} Rich text content (required)
  - alignment: {String} text-left | text-center | text-right - default: text-left
  - width: {String} narrow | medium | wide | full - default: medium
  - text_size: {String} small | medium | large - default: medium
{% endcomment %}

{%- liquid
  assign text = text | default: '<p>Your content here...</p>'
  assign alignment = alignment | default: 'text-left'
  assign width = width | default: 'medium'
  assign text_size = text_size | default: 'medium'
-%}

<div class="marketing-text marketing-text--{{ width }} marketing-text--{{ text_size }} {{ alignment }}">
  <div class="marketing-text__content rte">
    {{ text }}
  </div>
</div>

