{%- comment -%}
  ============================================================================
  HTML-PRODUCT-HEADING
  ============================================================================
  Product title with optional vendor display.
  
  PARAMETERS:
  - product: {Object} Product object (required)
  - show_vendor: {Boolean} Show vendor above title (default: true)
  ============================================================================
{%- endcomment -%}

{%- liquid
  assign p = product
  if show_vendor == nil
    assign display_vendor = true
  else
    assign display_vendor = show_vendor
  endif
-%}

<div class="product-heading">
  {%- if display_vendor and p.vendor != blank -%}
    <p class="product-heading__vendor">{{ p.vendor }}</p>
  {%- endif -%}
  <h1 class="product-heading__title">{{ p.title }}</h1>
</div>


