/* totalli */
/* v2026-01-22 */
/*
--theme-color-black: #111111;
	--theme-color-brown: #2e130d;
	--theme-color-blue: #0f1f38;
	--theme-color-blue-opacity: rgba(15, 31, 56, 0.9);
	--theme-color-green: #243406;
	--theme-color-orange: #f05a22;
	--theme-color-red: #FF4136;
	--theme-color-grey: #f8f8f8;
	--theme-color-white: #FFFFFF;
	--theme-color-alert: #FF0000;
	--theme-color-success: #009922;
	--theme-color-warning: #f05a22;
	--theme-color-error: #7f1d1d;

--theme-font-size-min: 16;
--theme-font-size-max: 21;
--theme-font-view-min: 576;
--theme-font-view-max: 1640;


*/
:root{
    --theme-color-success: rgba(208, 255, 194, 0.3);
    --theme-bgcolor-success: #d0ffc2;
    /*--theme-color-grey: #d0ffc2;*/
}
body > .dr-overlay {
    z-index: 999999 !important;
}

/* = cart */
.block-cart-order__content input.cart-subtotal__discount-input {
    border: 1px solid var(--theme-color-blue);
}
.block-cart-order__form .cart-subtotal__discount {
    /* color: var(--theme-color-white);
    background: var(--theme-color-blue);  */
    color: var(--theme-color-blue);
    border: 1px solid var(--theme-color-blue);
    padding: 0.2em .5em;
}

/* Aanmeldformulier embed footer: feedback texts */
footer .needsclick.kl-private-reset-css-Xuajs1 {
    /* background:rgb(69, 93, 132); */
}

footer .klaviyo-form.klaviyo-form.form-version-cid-1 h1 span {
    color: var(--theme-color-white) !important;
    background:rgb(69, 93, 132);
    font-size: initial !important;
    /* border-top: 1px solid var(--theme-color-white);
    border-bottom: 1px solid var(--theme-color-white); */
    /* border-left: 1px solid var(--theme-color-white); */
    display: inline-block;
    padding: .5em;
}
footer .needsclick.kl-private-reset-css-Xuajs1 p span {
    color: var(--theme-color-white) !important;
    font-size: initial !important;
}

/* = APP: Swym wishlist */
#swym-storefront-layout-section-container .swym-storefront-layout-collection-list-content.swym-storefront-layout-scrollable {
    overflow-y: scroll !important;
}
#swym-storefront-layout-section-container .swym-storefront-layout-collection-carousel-title {
    font-size: inherit;
}

#swym-storefront-layout-section-container .swym-storefront-layout-default-list-title {
    font-size: inherit;
}
#swym-storefront-layout-section-container .swym-storefront-layout-grid-item a.swym-storefront-layout-grid-item-title {
    font-size: initial;
}

/* = APP: Shop the look */
.shopthelook-section-v2 .ctl-title {
    font-size: 38px !important;
    text-transform: initial !important;
}
.shopthelook-section-v2 button.btn--primary.stl__btn-primary.shopthelook_add-to-cart {
    background-color: var(--theme-color-green) !important;
    border-radius: 0;
    padding: .85em 1em;
}
.glide-page-dots .glide__bullets .glide__bullet {
    border-radius: 0;
    width: 24px;
    height: 24px;
}
.glide-page-dots .glide__bullets .glide__bullet.glide__bullet--active {
    background-color: var(--theme-color-green);
}
.glide-page-dots .glide__bullets .glide__bullet:hover {
    background-color: transparent;
    border-color: var(--theme-color-green);
}
.shopthelook_variants {
    margin: .5em 0;
    background-color: var(--theme-color-grey);
}


/* = APP: 00 TAX EXEMPTION */
.auto-tax-exemption #oo-tax-exemption {
    padding: 0;
}
.auto-tax-exemption #oo-tax-exemption p {
    line-height: 1.2;
}
.oo-tax-succes {
    padding: 0 1em;
    background-color: rgba(208, 255, 194, 0.5);
}
